
<div class="container-fluid">
  <i class="far fa-lightbulb"></i><span class="ml-3">Smart Filters</span>
  <hr>

  <div class="row mt-4">
    <div class="col-6">
      <i class="far fa-money-bill-alt fa-2x"></i>
    </div>
    <div class="col-6">


        <label class="switch"><input type="checkbox" />    <div></div>
        </label>


    </div>

  </div>
  <div class="row mt-4">
    <div class="col-6">
      <i class="far fa-calendar-alt fa-2x"></i>
    </div>
    <div class="col-6">

      <label class="switch"><input type="checkbox" />    <div></div>
      </label>
    </div>

  </div>
  <div class="row mt-4 ">
    <div class="col-6"><i class="far fa-heart fa-2x"></i></div>
    <div class="col-6">

      <label class="switch"><input type="checkbox" />    <div></div>
      </label>
    </div>

  </div>

  <hr>
  <div class="row justify-content-center">
    <p>Status</p>
  </div>

  <form>
    <div class="form-group">
      <span class="icone"><i class="fas fa-search"></i></span>
      <input type="text" class="form-control" placeholder="Search">
    </div>
  </form>


    <p class="badge badge-secondary badgepersonal p-2">DELIVERED</p>




</div>
