<div class="container mt-5 ml-2">


    <div class="row justify-content-end">


        <form>
          <div class="form-group">
            <span class="icone"><i class="fas fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search">
          </div>
        </form>

    </div>



  <div class="row  mostrar p-2 mb-3 text-center align-items-center justify-content-center">
    <div class="col derecho"><div><p class="Lead">Monday <br> 10th  2:28 <br> pm</p></div></div>
    <div class="col derecho"><p class="Lead">Lorem ipsum dolor sit amet, <br> <i class="fas fa-arrow-down"></i><br> consectetur adipisicing elit. Minus, perferendis!</p></div>
    <div class="col "><i class="fas fa-truck fa-4x"></i><span class="ml-2">$ 250.000</span>
      <i class="fas fa-square fa-3x mx-4 text-danger"></i><i class="fas fa-ellipsis-v fa-2x "></i>

    </div>


  </div>

  <div class="row  mostrar p-2 mb-3 text-center align-items-center justify-content-center">
    <div class="col derecho"><div><p class="Lead">Monday <br> 10th  2:28 <br> pm</p></div></div>
    <div class="col derecho"><p class="Lead">Lorem ipsum dolor sit amet, <br> <i class="fas fa-arrow-down"></i><br> consectetur adipisicing elit. Minus, perferendis!</p></div>
    <div class="col "><i class="fas fa-truck fa-4x"></i><span class="ml-2">$ 250.000</span>
      <i class="fas fa-square fa-3x mx-4 text-danger"></i><i class="fas fa-ellipsis-v fa-2x "></i>

    </div>


  </div>

  <div class="row  mostrar p-2 mb-3 text-center align-items-center justify-content-center">
    <div class="col derecho"><div><p class="Lead">Monday <br> 10th  2:28 <br> pm</p></div></div>
    <div class="col derecho"><p class="Lead">Lorem ipsum dolor sit amet, <br> <i class="fas fa-arrow-down"></i><br> consectetur adipisicing elit. Minus, perferendis!</p></div>
    <div class="col"><i class="fas fa-truck fa-4x"></i><span class="ml-2">$ 250.000</span>
      <i class="fas fa-square fa-3x mx-4 text-danger"></i><i class="fas fa-ellipsis-v fa-2x "></i>

    </div>


  </div>


  <a href="#" class="float">
    <i class="fa fa-plus my-float"></i>
  </a>





</div>
